<html>
<head>
  <link href="/normalize.css" rel="stylesheet" type="text/css" />
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <center>
    <h1>Ali<span>&</span>Ryan</h1>
    <h5>Message</h5>
    <h5>from <%= @message.name %></h5>
    <div class="note">
      <p>
        <%= @message.content %>
      </p>
    <a href="/">Home</a>
    </div>
  </center>
</body>
</html>